@model Stormpath.Owin.Abstractions.ViewModel.RegisterFormViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Log In</title>
    <meta content="Sign up for an account" name="description">
    <meta content="width=device-width" name="viewport">
    <style>
        html, body {
            height: 100%;
        }

        body {
            margin: 0;
        }

        .container {
            height: 100%;
            padding: 0;
            margin: 0;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .view {
            border: 1px solid rgb(183, 194, 205);
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="view register-view"></div>
    </div>

    <script language="javascript">
        window.onload = function onDocumentReady() {
            var stormpath = window.stormpath = new Stormpath({
                container: document.getElementsByClassName('register-view')[0]
            });

            stormpath.once('loggedIn', function () {
                window.location = '@Model.NextUri';
            });

            stormpath.showRegistration();
        };
    </script>
    <script language="javascript" src="http://localhost:3000/js/app.js"></script>
</body>
</html>